<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>updateform</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="login-box">
    <h3>UPDATE PRODUCT</h3>
    <br>
    <form method="post" action="/Crud/updateOne/<%= data.id %>">
      <div class="user-box">
        <input type="product" class="form-control" name="product" id="product" value="<%= data.product %>">
        <small id="product" class="form-text text-muted"></small>
        <label for="product">product</label>
      </div>
      <div class="user-box">

        <input type="price" class="form-control" id="price" name="price" value="<%= data.price %>">
        <label for="price">price</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>